body {
    font-family: Arial, sans-serif;
    background-color: #f1f3f6;
}

/* Navbar */
.search-box {
    width: 300px;
    margin-left: 20px;
}

.spacer {
    height: 80px;
}

/* Products */
.section-title {
    margin-bottom: 20px;
    font-weight: bold;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Footer */
.footer {
    background-color: #172337;
    color: white;
    text-align: center;
    padding: 15px 0;
}
